<ion-header>
    <ion-navbar>
        <ion-title>Device Details</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- <ion-slides pager>

        <ion-slide style="background-color: green">
          <h2>Slide 1</h2>
        </ion-slide>
      
        <ion-slide style="background-color: blue">
          <h2>Slide 2</h2>
        </ion-slide>
      
        <ion-slide style="background-color: red">
          <h2>Slide 3</h2>
        </ion-slide>
      
      </ion-slides> -->
      <!-- <ion-slides  class="slide-css" autoplay="100" loop="true" speed="3000" pager="true" autoplayDisableOnInteraction = "false"> -->
        <ion-slides  class="slide-css" pager="true" >
        <ion-slide *ngFor="let slide of slideData">
        <img src="{{slide.image}}" />
        </ion-slide>
        </ion-slides>
   <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/slides/img1.jpg" />
      </ion-avatar>
      <h2>{{deviceDetail.Product_name}}</h2>
      <h3>Don't Know What To Do!</h3>
      <p>I've had a pretty messed up day. If we just...</p>
    </ion-item>
    </ion-list>

    <p padding-left padding-right style="text-align: justify;">
      This Tk103 GPS Vehicle Tracker is based on the GSM/GPRS network and GPS satellite positioning system, which set multiple functions of security, positioning, monitoring surveillance, emergency alarms and tracking in its entirety. It can track and monitor remote target by SMS or internet.
    </p>
    <ion-row>  <ion-col col-9>
        <p padding-left padding-right><span style="font-size: 20px; color: cadetblue;">Current Stock - {{deviceDetail.current_stock}}</span></p>
      </ion-col>

      <ion-col col-3>
        <p padding-left padding-right><ion-icon name="custom-rupee"></ion-icon> <span style="font-size: 20px;">{{deviceDetail.discount_price}}</span></p>
      </ion-col>
    
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block color="gpsc" (click)="purchase()">Purchase</button>
      </ion-col>
    </ion-row>
</ion-content>