<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Supported Devices</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item (click)="showDetail()">
      <ion-avatar item-start>
        <img src="assets/imgs/tractor_blue.png" />
      </ion-avatar>
      <h2>Finn</h2>
      <h3>Don't Know What To Do!</h3>
      <p>I've had a pretty messed up day. If we just...</p>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/tractor_blue.png" />
      </ion-avatar>
      <h2>Cher</h2>
      <p>Ugh. As if. mnsd zknk ncksnc sdncklsmcl snksndksndlksa asndlaskndla</p>
    </ion-item>
  </ion-list> -->
  <ion-grid *ngIf="devices.length > 0">
  <ion-row>
    <ion-col col-6 *ngFor="let d of devices"  (click)="showDetail(d)">
      <div class="ionCol">
          <div class='box'>
              <img src="assets/slides/img1.jpg" />
              <div id='noti-count'>
                <div>{{d.discount_price}}% off</div>
              </div>
            </div>
            <h5>{{d.Product_name}}</h5>
            <p>
              <span>
                <ion-icon name="custom-rupee" style="font-size: 0.9em;"></ion-icon> 
                <span style="font-size: 1.1em;">{{d.discount_price}}</span>
              </span>
              <span style="text-decoration: line-through;">
                  <ion-icon name="custom-rupee" style="font-size: 0.9em;"></ion-icon> 
                  <span style="font-size: 1.1em;">{{d.price}}</span>
                </span>
            </p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>